﻿
@model Product
@{
    Layout = "_AdminLayout";
}

<h2>Edit Product</h2>
<div class="col-md-6">
    @if(Model.MainImage != null)
    {
    <img class="img-fluid" src="@Model.MainImage.Url"/>
    }
</div>
<form method="post" action="@Url.Action("Edit", "AdminProduct")" enctype="multipart/form-data">
    <input type="hidden" name="Id" value="@Model.Id">
    @await Html.PartialAsync("_FormFields", Model, new ViewDataDictionary(ViewData) {{"ButtonTitle", "Edit"}})
    <button type="submit" class="btn btn-primary">Save</button>
</form>