@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Category
@{
}
<div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
    <p class="text-right">Click on picture to see the products!</p>
    <a href="/category/@Model.Id/@Model.Url" class="cat-img position-relative overflow-hidden mb-3">
        <img class="img-fluid" src="@Model.Image?.Url" alt="@Model.Title">
    </a>
    <h5 class="font-weight-semi-bold m-0">@Model.Title</h5>
</div>




